{{>layouts/header}}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">email</th>
            <th scope="col">password</th>
        </tr>
        </thead>
        <tbody>
        {{#members}}
            <tr>
                <td>{{id}}</td>
                <th>{{email}}</th>
                <td>{{password}}</td>
            </tr>
        {{/members}}

        </tbody>
    </table>
    <a href = "/members/{{members.id}}/edit" class = "btn btn-primary">Edit</a>
    <a href = "/members">Go to member list</a>
{{>layouts/footer}}